.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Стиль активной/текущей ссылки */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Добавить серый цвет фона при наведении курсора мыши */
.pagination a:hover:not(.active) {background-color: #ddd;}